/*general stylings*/
html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(178, 212, 228);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: auto;
}

input { 
    opacity: 0;
    position: absolute;
}



/*floating central page*/
.page {
    margin: 2rem 10%;
    border: 5px solid rgb(236, 181, 117);
    background-color: rgb(243, 233, 215);
    border-radius: 2rem;
}

/*need a margined div to make sure content in the central page isn't to close to the sides and bottom*/
.content {
    margin: 2rem 1rem;
}




/*banner stylings*/
.banner {
    display: flex;
    /*flex-direction: column;*/
    width: 100%;
}

.top-banner {
    border-top: 3px solid rgb(236, 181, 117);
    border-bottom: 3px solid rgb(236, 181, 117);
    background-color: rgb(236, 181, 117);
}

.mid-banner {
    border-top: 7px solid rgb(236, 181, 117);
    border-bottom: 7px solid rgb(236, 181, 117);
    border-left: 3px solid rgb(236, 181, 117);
    border-right: 3px solid rgb(236, 181, 117);
    border-radius: .5rem;
    background-color: rgb(236, 181, 117);
}

.banner-elem {
    text-align: center;
    flex:1;
}

.spaced {
    margin: 0 .2%;
}


/*button stylings, hopefully decoupled from the banner so I can add these wherever*/
.button {
    background: #f0edff;
    cursor: pointer;
    height: fit-content;
    transition: all 0.5s;
    border-radius: .25rem;
}

.button:hover { /*change colour*/
    background: #fcafaf;
}

.button a { /*hide hyperlink stylings in buttons*/
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
}

.button div { /*set banner hight and text position*/
    height: 2rem;
    padding-top: .5rem;
    transition: all 0.5s;
}

.button:hover div { /*change text size*/
    transform: translateY(-.4rem);
    font-size: 1.5rem;
}

.button span::before { /*add cute blobbies pointing to button text*/
    white-space: pre;
    content: '   (^\'O\')>      ';
    opacity: 0;
    transition: all 0.5s;
    font-size: 0rem;
}

.button span::after {
    white-space: pre;
    content: '      <(\'O\'^)   ';
    opacity: 0;
    transition: all 0.5s;
    font-size: 0rem;
}

.button:hover span::before, .button:hover span::after {
    opacity: 1;
    font-size: 1.5rem;
}




/**/
input:checked + .button {
    background: #fcafaf;
}

input:checked + .button div { /*change text size*/
    transform: translateY(-.6rem);
    font-size: 2rem;
}




/**/
.game-box {
    display: flex;
    border-top: 3px solid rgb(236, 181, 117);
    border-bottom: 3px solid rgb(236, 181, 117);
    background-color: rgb(243, 233, 215);;
    width: 100%;
}

.game-image {
    flex:1;
    border: 3px solid rgb(236, 181, 117);
}

.game-details {
    flex:2;
}