/* font */
@font-face { 
    /* licence at SpookiG.github.io/fonts/OFL.txt */
    font-family: Vidaloka; src: url('fonts/Vidaloka-Regular.ttf');
}


/*general stylings*/
body {
    padding: 0;
    margin: 0;
    background-color: rgb(178, 212, 228);
    font-family: Vidaloka;
}



h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* iframe {
    
} */

.utube {
    width: min(700px, 100%);
    height: 395px;
    margin-left: Calc((100% - min(700px, 100%)) / 2);
    margin-right: Calc((100% - min(700px, 100%)) / 2);
}

.game-page {
    width: 100%;
    height: 0px;
    border: none;
    overflow: auto;

    /* collapsable stuff */
    transition: height 0.2s ease-out;
    overflow: hidden;
}

input { 
    opacity: 0;
    position: absolute;
}

audio {
    width: calc(200px + 32%);
    margin-left: calc(50% - (100px + 16%));
    margin-right: calc(50% - (100px + 16%));
    border-radius: 1rem;
    color: #6a657e;
}



/*floating central page*/
.page {
    margin: 2rem 10%;
    border: 5px solid rgb(236, 181, 117);
    background-color: rgb(243, 233, 215);
    border-radius: 2rem;
}

/* for nested iframes */
.iframe-colour {
    background-color: rgb(243, 233, 215);
}

.frame-separator {
    border-top: 4px solid rgb(236, 181, 117);
}

/*need a margined div to make sure content in the central page isn't to close to the sides and bottom*/
.content {
    margin: 2rem 1rem;
}


.hobby-box {
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(236, 181, 117);
    border: 3px solid rgb(236, 181, 117);
    border-radius: .25rem;
}

.pfp {
    border: 3px solid rgb(236, 181, 117);
    border-radius: 1rem;
    background-color: rgb(236, 181, 117);
    width: calc(200px + 4%);
    margin-left: calc(50% - (100px + 2%));
    margin-right: calc(50% - (100px + 2%));
    
}




/*banner stylings*/
@media (min-aspect-ratio : 7/4) {
    .banner {
        display: flex;
        width: 100%;
    }
}

@media (max-aspect-ratio : 7/4) {
    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-aspect-ratio : 7/4) {
    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.top-banner {
    border-top: 3px solid rgb(236, 181, 117);
    border-bottom: 3px solid rgb(236, 181, 117);
    background-color: rgb(236, 181, 117);
}

.mid-banner {
    border-top: 7px solid rgb(236, 181, 117);
    border-bottom: 7px solid rgb(236, 181, 117);
    border-left: 3px solid rgb(236, 181, 117);
    border-right: 3px solid rgb(236, 181, 117);
    border-radius: .5rem;
    background-color: rgb(236, 181, 117);
}

.banner-elem {
    text-align: center;
    flex:1;
    font-size: 1.2rem;
}

.spaced {
    margin: 0 .2%;
}

.bottom {
    position: absolute;
    bottom:   -3px;
    width: calc(100% - 6px);
    border: 3px solid rgb(236, 181, 117);
    border-radius: .25rem;
}


/*button stylings, hopefully decoupled from the banner so I can add these wherever*/
.button {
    background: #f0edff;
    cursor: pointer;
    height: fit-content;
    transition: all 0.5s;
    border-radius: .25rem;
}

.button:hover { /*change colour*/
    background: #fcafaf;
}

.button a { /*hide hyperlink stylings in buttons*/
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
}

.button div { /*set banner hight and text position*/
    height: 2rem;
    padding-top: .5rem;
    transition: all 0.5s;
}

.button:hover div { /*change text size*/
    transform: translateY(-.4rem);
    font-size: 1.5rem;
}

.button span::before { /*add cute blobbies pointing to button text*/
    white-space: pre;
    content: '   (^\'O\')>      ';
    opacity: 0;
    transition: all 0.5s;
    font-size: 0rem;
}

.button span::after {
    white-space: pre;
    content: '      <(\'O\'^)   ';
    opacity: 0;
    transition: all 0.5s;
    font-size: 0rem;
}

.button:hover span::before, .button:hover span::after {
    opacity: 1;
    font-size: 1.5rem;
}




/**/
input:checked + .button {
    background: #fcafaf;
}

input:checked + .button div { /*change text size*/
    transform: translateY(-.6rem);
    font-size: 2rem;
}




/**/
.game-box {
    display: flex;
    /* border-top: 3px solid rgb(236, 181, 117);
    border-bottom: 3px solid rgb(236, 181, 117);
    background-color: rgb(243, 233, 215);; */
    width: 100%;
}

.game-image {
    flex:1;
    /* border: 3px solid rgb(236, 181, 117); */
}

.game-details {
    flex:2;
    position: relative;
}













/* collapsable css */
.collapsible {
    background-color: #6a657e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    border-radius: .2rem;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
  
  
.active, .collapsible:hover {
    background-color: #484358;
}

.active:after {
    content: "\2212";
}
  
.collapsable-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
    /* background-color: rgb(243, 233, 215); */
}



  /* css for gameplay etc images */

.clickable-image {
    
    border: 3px solid rgb(236, 181, 117);
    border-radius: 1rem;
    background-color: rgb(236, 181, 117);
    cursor: pointer;
    transition: 0.3s;
    width: 95%;
}

.pixel-art {  /* both image rendering settings here because these are inconsistent between firefox and chrome ugh */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
}
  
.clickable-image:hover {opacity: 0.7;}

.image-collapsable {
    width: 96%;  /* This kind of works to make the collabsable the same size as the main image above it lol*/
    padding: .25rem;
    font-size: .8rem;
    
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: pointer;
  }
  
  /* Modal Content (image) */
  .modal-image {
    margin: auto;
    display: block;
    padding-top: 3%;
    max-width: 80%;
    min-width: 30%;
    max-height: calc(95% - 100px);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 40px;
  }
  
  /* Add Animation */
  .modal-image, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-image {
      
      max-width: 300px;
      width: 100%;
      padding-top: 10%;
      max-height: 100%;
    }
  }